/* PHASE 1: Header */

header {
  background-color: red;
  color: white;
  font-family: Arial;
}

header .h1 {
  font-weight: bold;
  font-size: 24px;

}

.header {

}
.header-logo {
  display: flex;
  padding: 10px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  margin: auto;
}
.header-list {
  display: flex;
  flex-direction: row;
}
li {
  padding: 10px;
  border-right: 1px solid white;
}
ul li:first-child {
  border-left: 1px solid white;
}
